<div class="container">
  <h1 class="titulo">Bienvenido, {{paciente}}</h1>
  <div class="instruccion-card">
    <mat-icon>info</mat-icon>
    <p>Selecciona una de las opciones para empezar a gestionar tus trámites.</p>
  </div>

  <div class="opciones">
    <button class="opcion" routerLink="/nuevo-turno">
      <mat-icon class="icono">assignment</mat-icon>
      <span class="texto-opcion">Solicitar un turno nuevo con un especialista</span>
    </button>

    <button class="opcion">
      <mat-icon class="icono">person_edit</mat-icon>
      <span class="texto-opcion">Ver y modificar mi información personal</span>
    </button>

    <button class="opcion">
      <mat-icon class="icono">history</mat-icon>
      <span class="texto-opcion">Ver el historial y detalle de mis turnos agendados</span>
    </button>
  </div>
</div>