<div class="main-container">
    <div class="form-card">
        <div class="header-container">
            <h2 class="form-titulo">Crear Nuevo Usuario</h2>
            <button mat-icon-button color="warn" matTooltip="Volver a la lista" (click)="cancelar()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <p class="form-subtitulo">Complete la información del nuevo usuario (Operador, Médico o Administrador).</p>

        <form [formGroup]="usuarioForm">
            
            <h3 class="seccion-titulo">Información de Perfil</h3>

            <div class="input-group">
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Tipo de Usuario (Rol)</mat-label>
                    <mat-select required formControlName="rol">
                        <mat-option *ngFor="let rol of rolesDisponibles" [value]="rol">
                            {{ rol | uppercase }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>assignment_ind</mat-icon>
                    <mat-hint>Solo puede ser Administrador, Médico u Operador.</mat-hint>
                    <mat-error *ngIf="usuarioForm.get('rol')?.hasError('required') && usuarioForm.get('rol')?.touched">
                        El rol es obligatorio.
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>DNI</mat-label>
                    <input matInput type="text" required formControlName="dni">
                    <mat-icon matSuffix>badge</mat-icon>
                    <mat-error *ngIf="usuarioForm.get('dni')?.hasError('required') && usuarioForm.get('dni')?.touched">
                        El DNI es obligatorio.
                    </mat-error>
                    <mat-error *ngIf="usuarioForm.get('dni')?.hasError('pattern') && usuarioForm.get('dni')?.touched">
                        Solo números.
                    </mat-error>
                    <mat-error *ngIf="usuarioForm.get('dni')?.hasError('minlength') && usuarioForm.get('dni')?.touched">
                        Mínimo 7 dígitos.
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="input-group">
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" required formControlName="nombre">
                    <mat-error *ngIf="usuarioForm.get('nombre')?.hasError('required') && usuarioForm.get('nombre')?.touched">
                        El nombre es obligatorio.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Apellido</mat-label>
                    <input matInput type="text" required formControlName="apellido">
                    <mat-error *ngIf="usuarioForm.get('apellido')?.hasError('required') && usuarioForm.get('apellido')?.touched">
                        El apellido es obligatorio.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-group">
                 <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput 
                           [matDatepicker]="pickerNacimiento" 
                           required 
                           formControlName="fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="pickerNacimiento"></mat-datepicker-toggle>
                    <mat-datepicker #pickerNacimiento></mat-datepicker>
                    <mat-error *ngIf="usuarioForm.get('fechaNacimiento')?.hasError('required') && usuarioForm.get('fechaNacimiento')?.touched">
                        La fecha es obligatoria.
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput type="email" required formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="usuarioForm.get('email')?.hasError('required') && usuarioForm.get('email')?.touched">
                        El email es obligatorio.
                    </mat-error>
                    <mat-error *ngIf="usuarioForm.get('email')?.hasError('email') && usuarioForm.get('email')?.touched">
                        Formato de email inválido.
                    </mat-error>
                </mat-form-field>
            </div>
            
            <h3 class="seccion-titulo">Credenciales y Contacto</h3>

            <div class="input-group">
                
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Teléfono</mat-label>
                    <input matInput type="tel" required formControlName="telefono">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="usuarioForm.get('telefono')?.hasError('required') && usuarioForm.get('telefono')?.touched">
                        El teléfono es obligatorio.
                    </mat-error>
                </mat-form-field>

                <div class="half-width invisible-spacer"></div> 
            </div>

            <div class="input-group">
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Contraseña Inicial</mat-label>
                    <input matInput type="password" required formControlName="password">
                    <mat-icon matSuffix>lock</mat-icon>
                    <mat-error *ngIf="usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched">
                        La contraseña es obligatoria.
                    </mat-error>
                    <mat-error *ngIf="usuarioForm.get('password')?.hasError('minlength') && usuarioForm.get('password')?.touched">
                        Mínimo 6 caracteres.
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label>Confirmar Contraseña</mat-label>
                    <input matInput type="password" required formControlName="confirmarPassword">
                    <mat-error *ngIf="usuarioForm.hasError('passwordMismatch') && usuarioForm.get('confirmarPassword')?.touched">
                        Las contraseñas no coinciden.
                    </mat-error>
                    <mat-error *ngIf="usuarioForm.get('confirmarPassword')?.hasError('required') && usuarioForm.get('confirmarPassword')?.touched">
                        La confirmación es obligatoria.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-actions">
                <button mat-button color="warn" (click)="cancelar()" type="button">
                    Cancelar
                </button>
                <button mat-raised-button 
                        color="primary" 
                        [disabled]="usuarioForm.invalid"
                        (click)="crearUsuario()"
                        type="submit">
                    <mat-icon>person_add</mat-icon>
                    Crear Usuario
                </button>
            </div>
            
        </form>
    </div>
</div>